*
!.gitignore
!*.py
!*.launch.xml
!*.yaml
!*.launch
!*.msg
!CMakeLists.txt
!Dockerfile
!package.xml
!README.md
!LICENSE.txt
!nodes/
!src/
!src/*
!msg/
!config/
!launch/
!ds4_driver/

!docker/
!docker/*
!run_docker.bash
