<?xml version="1.0"?>
<launch>
  <arg name="addr" default="" />

  <node pkg="ds4_driver" type="demo.py" name="demo" />

  <include file="$(find ds4_driver)/launch/ds4_driver.launch" >
    <arg name="addr" value="$(arg addr)" />
    <arg name="use_standard_msgs" value="false" />
  </include>
</launch>
